<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RB4InstrumentMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RB4InstrumentMapper.Properties.Settings>
            <setting name="currentPcapSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="currentGuitar1Selection" serializeAs="String">
                <value />
            </setting>
            <setting name="currentGuitar2Selection" serializeAs="String">
                <value />
            </setting>
            <setting name="currentDrumSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="currentPacketDebugState" serializeAs="String">
                <value />
            </setting>
            <setting name="currentGuitar1Id" serializeAs="String">
                <value />
            </setting>
            <setting name="currentGuitar2Id" serializeAs="String">
                <value />
            </setting>
            <setting name="currentDrumId" serializeAs="String">
                <value />
            </setting>
        </RB4InstrumentMapper.Properties.Settings>
    </userSettings>
</configuration>