<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="RB4InstrumentMapper"
    Language="1033"
    Version="3.0.0.0"
    Manufacturer="Andreas Schiffler"
    UpgradeCode="94bef546-701f-4571-9828-d4fa39b2ea84">
    
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    
    <MediaTemplate EmbedCab="yes"/>

    <?define ResourcesDir = $(sys.CURRENTDIR)Resources\?>
    <Icon Id="FILE_Iconico" SourceFile="$(var.ResourcesDir)Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="FILE_Iconico" />

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ResourcesDir)license.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ResourcesDir)dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ResourcesDir)banner.bmp" />

    <Feature Id="ProductFeature" Title="MsiInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="RB4InstrumentMapper" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="RB4InstrumentMapper"/>
      </Directory>
    </Directory>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <?define BinariesDir = $(sys.CURRENTDIR)..\Program\bin\x64\Release\?>
      <Component Id="COMP_NefariusViGEmClientdll" Guid="04BB3091-EA32-4F10-8F2B-7BA22FF8309A">
        <File Id="FILE_NefariusViGEmClientdll" Name="Nefarius.ViGEm.Client.dll" Source="$(var.BinariesDir)Nefarius.ViGEm.Client.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_PacketDotNetdll" Guid="BA4A1B0F-9DE7-47C5-8F00-8C246EACFE03">
        <File Id="FILE_PacketDotNetdll" Name="PacketDotNet.dll" Source="$(var.BinariesDir)PacketDotNet.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_RB4InstrumentMapperexe" Guid="4D1C894A-DA1B-4C6F-AB06-0A89DE716835">
        <File Id="FILE_RB4InstrumentMapperexe" Name="RB4InstrumentMapper.exe" Source="$(var.BinariesDir)RB4InstrumentMapper.exe" KeyPath="yes" />
      </Component>
      <Component Id="COMP_RB4InstrumentMapperexeconfig" Guid="5DB2E840-D3B5-4B9D-AEF9-523A8C8CD09C">
        <File Id="FILE_RB4InstrumentMapperexeconfig" Name="RB4InstrumentMapper.exe.config" Source="$(var.BinariesDir)RB4InstrumentMapper.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="COMP_SharpPcapdll" Guid="C0C8FEE8-8DD2-4CB4-B6E1-4EACE930B682">
        <File Id="FILE_SharpPcapdll" Name="SharpPcap.dll" Source="$(var.BinariesDir)SharpPcap.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_SystemBuffersdll" Guid="7F40011E-7E13-4756-AB3D-C8805C1014E9">
        <File Id="FILE_SystemBuffersdll" Name="System.Buffers.dll" Source="$(var.BinariesDir)System.Buffers.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_SystemMemorydll" Guid="EB825758-667F-4D27-9CC3-AB7FAAC423F9">
        <File Id="FILE_SystemMemorydll" Name="System.Memory.dll" Source="$(var.BinariesDir)System.Memory.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_SystemNumericsVectorsdll" Guid="60F548E8-3F05-4046-BC55-07BA456DA02D">
        <File Id="FILE_SystemNumericsVectorsdll" Name="System.Numerics.Vectors.dll" Source="$(var.BinariesDir)System.Numerics.Vectors.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_SystemRuntimeCompilerServicesUnsafedll" Guid="57876592-7661-4C2D-AB23-2FAD5BAACCF7">
        <File Id="FILE_SystemRuntimeCompilerServicesUnsafedll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.BinariesDir)System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_SystemTextEncodingCodePagesdll" Guid="E21C634A-1279-4BB1-8194-DFAE5DA5CD23">
        <File Id="FILE_SystemTextEncodingCodePagesdll" Name="System.Text.Encoding.CodePages.dll" Source="$(var.BinariesDir)System.Text.Encoding.CodePages.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_vJoyInterfacedll" Guid="CB9CA948-3098-44B6-B5DA-3807C6C1CA97">
        <File Id="FILE_vJoyInterfacedll" Name="vJoyInterface.dll" Source="$(var.BinariesDir)vJoyInterface.dll" KeyPath="yes" />
      </Component>
      <Component Id="COMP_vJoyInterfaceWrapdll" Guid="92502704-7C1B-49B7-BF68-56A2B78AC1F9">
        <File Id="FILE_vJoyInterfaceWrapdll" Name="vJoyInterfaceWrap.dll" Source="$(var.BinariesDir)vJoyInterfaceWrap.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Icon Id="Icon.ico" SourceFile="$(var.ResourcesDir)Icon.ico" />
    <Component Id="DesktopShortcut" Directory="INSTALLFOLDER" Guid="BC673EF6-B5A1-4AA3-BAC4-EC0BAEBB6B98">
      <RegistryValue Id="RegShortcutDesktop"
              Root="HKCU"
              Key="Software\AndreasSchiffler\RB4InstrumentMapper"
              Name="DesktopShortcut"
              Value="1"
              Type="integer"
              KeyPath="yes" />
      <Shortcut Id="DesktopShortcut"
              Target="[INSTALLFOLDER]RB4InstrumentMapper.exe"
              WorkingDirectory="INSTALLFOLDER"
              Directory="DesktopFolder"
              Icon="Icon.ico"
              Name="RB4InstrumentMapper"
              Advertise="no" />
      <RemoveFile Id="RemoveDesktopShortcut"
              Directory="DesktopFolder"
              Name="RB4InstrumentMapper"
              On="uninstall" />
    </Component>
    <Component Id="StartMenuShortcut" Directory="INSTALLFOLDER" Guid="9E3ED7F2-4298-4334-9936-BC9983EEBAC7">
      <RegistryValue Id="RegShortcutStartMenu"
              Root="HKCU"
              Key="Software\AndreasSchiffler\RB4InstrumentMapper"
              Name="StartMenuShortcut"
              Type="integer"
              Value="1"
              KeyPath="yes" />
      <Shortcut Id="StartMenuShortcut" 
              Target="[INSTALLFOLDER]RB4InstrumentMapper.exe"
              WorkingDirectory="INSTALLFOLDER"
              Directory="ApplicationProgramsFolder"
              Icon="Icon.ico"
              Name="RB4InstrumentMapper"
              Advertise="no" />
      <RemoveFolder Id="RemoveStartMenuShortcut"
              Directory="ApplicationProgramsFolder"
              On="uninstall" />
    </Component>
  </Fragment>

</Wix>
